@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid ">

    <div class="col card text-bg-dark mt-2 px-0">

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-success"></button>
            <button type="button" class="btn btn-light"></button>
            <button type="button" class="btn btn-danger"></button>
        </div>
        <div class="mt-5 row card-img-overlay">

            <div class="col-md-6 px-5 text-dark">
                <h2>IL RISTORANTE</h2>
                <p>
                    Sarete accolti da un personale specializzato e professionale, disponibile nel darvi consigli sulle specialità offerte. Menù gourmet, pietanze cucinate con materie prime di qualità
                </p>

            </div>
            <div class="col-md-6 text-dark">
                <h2>I DESSERT</h2>
                <p>Ricette di cucina, rivisitate da abbinamenti originali, fanno dei nostri dolci la garanzia del mangiare sano e ricercato, un connubio che nella sua semplicità crea sapori unici.</p>

            </div>

        </div>

        <img src="~/Content/img/pexels-cottonbro-studio-3944309.jpg" class="card-img img-fluid rounded-0" alt="pizza" />
        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-end mt-5  ordina">
            <button type="button" class="btn btn-outline-danger btn-lg"> @Html.ActionLink("Ordina ora!", "menu", "pizzes", null, new { @class = "text-decoration-none text-dark mx-5" })</button>

        </div>
    </div>

     



</div>